<h1>Bookmarks</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= link_to bookmark.comment, list_path(list)%></li>
  <% end %>
</ul>

<h3><%= link_to "Create new bookmark", new_bookmark_path %> </h3>
